// Colors
$main-color: #1365ef;

$text-color-primary: #000000;
$text-color-secondary: #ffffff;
$text-color-third: #ec252a;

$placeholder-color-primary: #c8c8c8;

$bg-color-primary: #ffffff;
$bg-color-secondary: #f5f5f5;
$bg-color-third: #e0e0e0;